<!DOCTYPE html> 
<html lang="ar">
<div>
    <h1 style="text-align: center;">
        تمت العملية بنجاح
    </h1>
    <h2>
        الرجـاء تحديث الصفحه
    </h2>
    <pre id="message" style="text-align: center;">
            <%= message %>
        </pre>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/jquery-3.0.0.min.js"></script>
<script src="../js/plugin.js"></script>
<!-- sidebar -->
<script src="../js/custom.js"></script>
<!-- javascript -->

<script src="../js/success.js" type="text/javascript"></script>


</html>