<!DOCTYPE html>
<html>

<!-- Style is being embedded here until styles.css is fixed -->

<body>
    <div id="add-product" style="text-align: center; margin-top: 5px;">
        <form action="/products/add-company" id="companyForm" method="POST">

            <label for="companyName">إسم الشركة</label>
            <input type="text" id="companyName=" name="companyName" required>

            <label for="companyOrigin">البلد</label>
            <input type="text" id="companyOrigin" name="companyOrigin" required>

            <!--label for="companyCode">رمز الشركة في النظام</label>
            <input type="text" id="companyCode" name="companyCode" required-->

            <input type="submit">
        </form>
    </div>

</body>

</html>