<html>

<head>


</head>

<body>
    <form action="" method="">

        <label for="modify-product">رمز القطعة</label>
        <input type="text" id="modify-product" name="modify-product">

        <label for="modify-options">نوع التعـديل</label>
        <select id="modify-options">
            <option>الرجاء الإختيـار </option>
            <option value="modify-type">تعديل الفئة الرئيسيــة </option>
            <option value="modify-quality">تعديل نوع القماش </option>
            <option value="modify-meters">تعديل عدد الأمتار </option>
            <option value="modify-color">تعديل اللون </option>
            <option value="modify-price">تعديل السعر </option>
        </select>

    </form>

</body>






</html>