<!DOCTYPE html>

<head>


</head>

<body>

    <h1>Render Tables</h1>

    <table>
        <!-- here goes our data! -->
    </table>

    <script src="../js/render-tables.js">

    </script>





    <!--html>

    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            
            th, td {
                padding: 20px;
            }
            
            th {
                text-align: left;
            }
        </style>
    </head>
    
    <body>
    
        <table style="width:100%">
            <caption>DETAILS</caption>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
            </tr>
        </table>
    </body>
    
    

</body>